.vs/
Bobeta.Persistence/bin/
Bobeta.Persistence/obj/
Bobeta.Infrastructure/bin/
Bobeta.Infrastructure/obj/
Bobeta.Identity/bin/
Bobeta.Identity/obj/
Bobeta.Domain/obj/
Bobeta.Domain/bin/
Bobeta.Application/bin/
Bobeta.Application/obj/
Bobeta.API/bin/
Bobeta.API/obj/
Bobeta.Client/obj/
Bobeta.Client/bin/
.concept/
UI/Bobeta.Web/bin/
UI/Bobeta.Web/obj/
Bobeta.Web/bin/
Bobeta.Web/obj/
Bobeta.Mobile/obj/
Bobeta.Mobile/bin/
Bobeta.Web/node_modules/
Bobeta.Web/publish-out/
Bobeta.Web/publish-out2/
_pubtest/
_b/
Bobeta.Application.Tests/obj/
Bobeta.Application.Tests/bin/
Bobeta.Web.Deferred/obj/
Bobeta.Web.Shared/obj/
Bobeta.Web.Shared/bin/
Bobeta.Web.Deferred/bin/
Bobeta.Web.Host/bin/
Bobeta.Web.Host/obj/
artifacts/
**/*.pubxml.user
Bobeta.Portal/bin/
Bobeta.Portal/obj/
