.vs/
Bobeta.Persistence/bin/
Bobeta.Persistence/obj/
Bobeta.Infrastructure/bin/
Bobeta.Infrastructure/obj/
Bobeta.Identity/bin/
Bobeta.Identity/obj/
Bobeta.Domain/obj/
Bobeta.Domain/bin/
Bobeta.Application/bin/
Bobeta.Application/obj/
Bobeta.API/bin/
Bobeta.API/obj/
Bobeta.Client/obj/
Bobeta.Client/bin/
.concept/
UI/Bobeta.Web/bin/
UI/Bobeta.Web/obj/
Bobeta.Web/bin/
Bobeta.Web/obj/
Bobeta.Mobile/obj/
Bobeta.Mobile/bin/
Bobeta.Web/node_modules/
Bobeta.Web/publish-out/
Bobeta.Web/publish-out2/
