<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/0e683e4e-5f71-4426-92ad-59d3d7d90f32/resourceGroups/bobeta_group/providers/Microsoft.ApiManagement/service/BobetaAPIapi/apis/BobetaAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/0e683e4e-5f71-4426-92ad-59d3d7d90f32/resourceGroups/bobeta_group/providers/Microsoft.Web/sites/bobeta</ResourceId>
    <ResourceGroup>bobeta_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://bobeta-bafxeafwdzbsejbw.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>dcec632a-9449-3024-f39d-6006845b6dc6</ProjectGuid>
    <PublishUrl>https://bobeta-bafxeafwdzbsejbw.scm.southafricanorth-01.azurewebsites.net/</PublishUrl>
    <UserName>$bobeta</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>