<Bootstrap>
    <Router AppAssembly="@typeof(App).Assembly" NotFoundPage="typeof(Pages.NotFound)">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p class="p-6 text-foreground"><a href="/">Return to Home</a></p>
            </LayoutView>
        </NotFound>
    </Router>
</Bootstrap>
