@inherits LayoutComponentBase
@implements IDisposable
@inject AppStateService AppState

<div class="landing-page">
    @Body
</div>

@code {
    protected override void OnInitialized() => AppState.StateChanged += OnStateChanged;

    private void OnStateChanged() => _ = InvokeAsync(StateHasChanged);

    public void Dispose() => AppState.StateChanged -= OnStateChanged;
}
