<?xml version="1.0" encoding="utf-8"?>
<!-- IIS (Windows App Service): serve PWA manifest with correct MIME type. Linux ignores this file. -->
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
  </system.webServer>
</configuration>
